    accelerate>=0.23.0
    datasets>=2.14.6
    deepspeed==0.12.6
    einops>=0.6.1
    huggingface-hub>=0.14.1,<1.0
    numpy>=1.24.2
    protobuf<=3.20.2  # Needed to avoid conflicts with `transformers`
    transformers==4.36.2
    trl==0.7.4
    peft>=0.7.1
    scipy
    wandb
